<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapQR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
    {% extends "base.html" %}

    {% block title %}

    SnapQR

    {% endblock %}

    {% block content %}

    <section class="max-w-7xl mx-auto px-6 py-20">

        <div class="text-center">

            <h1 class="text-6xl font-bold text-slate-800">

                Generate QR Codes

                for Images

            </h1>

            <p class="text-xl text-gray-500 mt-6">

                Upload your image and get a permanent QR Code instantly.

            </p>

            <button class="mt-10 bg-blue-600 hover:bg-blue-700 text-white px-8 py-4 rounded-xl">

                Upload Image

            </button>

        </div>

    </section>
    <section class="grid md:grid-cols-3 gap-8 mt-20">

        <div class="bg-white rounded-xl shadow p-8">

            <h2 class="text-2xl font-semibold">

                ⚡ Instant QR

            </h2>

            <p class="mt-4 text-gray-500">

                Generate QR Code within seconds.

            </p>

        </div>

        <div class="bg-white rounded-xl shadow p-8">

            <h2 class="text-2xl font-semibold">

                🔒 Secure Hosting

            </h2>

            <p class="mt-4 text-gray-500">

                Your images are safely stored.

            </p>

        </div>

        <div class="bg-white rounded-xl shadow p-8">

            <h2 class="text-2xl font-semibold">

                🌍 Permanent Link

            </h2>

            <p class="mt-4 text-gray-500">

                Share your image anywhere.

            </p>

        </div>

    </section>
    <section class="mt-24">

        <div id="drop-zone"
            class="border-4 border-dashed border-blue-300 rounded-3xl p-16 bg-white text-center transition hover:border-blue-500">

            <h2 class="text-3xl font-bold">

                Drag & Drop Image

            </h2>

            <p class="mt-4 text-gray-500">

                or choose from your computer

            </p>

            <input type="file" id="image-input" accept="image/png,image/jpeg,image/webp" class="hidden">

            <button id="choose-btn" class="mt-8 bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-xl">

                Choose Image

            </button>

        </div>

    </section>

    <div class="mt-10 hidden" id="preview-container">

        <img id="preview-image" class="rounded-xl shadow-lg max-h-96 mx-auto">

        <button id="remove-btn" class="mt-6 bg-red-500 hover:bg-red-600 text-white px-6 py-2 rounded-xl">

            Remove Image

        </button>

    </div>

    {% endblock %}
</body>

</html>